[preset.0]

name="iOS"
platform="iOS"
runnable=false
advanced_options=true
export_filter="all_resources"
include_filter="assets/data/*.json"
exclude_filter="scenes/tests/*,scripts/tests/*"
export_path="build/ios/invadeio.xcodeproj"

[preset.0.options]

architectures/arm64=true
; Marcador para exportar sin credenciales. SideStore aplica la firma real al instalar.
application/app_store_team_id="0000000000"
application/bundle_identifier="io.github.macarronesc.invadeio"
application/short_version="0.1.0"
application/version="1"
application/export_project_only=true
application/min_ios_version="15.0"
plugins/BackupFilePicker=true
entitlements/game_center=false
privacy/file_timestamp_access_reasons=2
privacy/system_boot_time_access_reasons=1
privacy/disk_space_access_reasons=1

[preset.1]

name="Android"
platform="Android"
runnable=true
advanced_options=true
export_filter="all_resources"
include_filter="assets/data/*.json"
exclude_filter="scenes/tests/*,scripts/tests/*"
export_path="build/android/invadeio.apk"

[preset.1.options]

gradle_build/use_gradle_build=true
gradle_build/target_sdk="36"
package/unique_name="io.github.macarronesc.invadeio"
package/name="invade.io"
version/code=1
version/name="0.1.0"
permissions/vibrate=true
